* {
  padding: 0;
  margin: 0;
  font-size: 22px;
}
.form-input-wrap {
  text-align: left;
  box-shadow: 75px 61px 113px -104px rgba(87,62,87,1);
  width: 280px;
  padding: 30px;
  margin: auto;
  transform: translate(0px, 100px);
}
.form-title{
  padding-bottom: 10px;
}
.form-input:focus{
  outline: none;
  border-bottom: 2px solid rgb(54, 146, 250);
}
.form-input {
  border: 0;
  padding: 7px 0;
  transition: border-bottom .3s ease-out;
}
.form_input_red {
  border-bottom: 2px solid rgb(209, 27, 3);
  transition: border-bottom .3s ease-out;
}
.form_input_grey {
  border-bottom: 2px solid #ccc;
  transition: border-bottom .3s ease-out;
}
.form_input_green{
  border-bottom: 2px solid green;
  transition: border-bottom .3s ease-out;
}
.form_input_yellow{
  border-bottom: 2px solid rgb(255, 230, 2);
  transition: border-bottom .3s ease-out;
}
/* error message */
.error-message {
  position: absolute;
    bottom: 65px;
    height: 30px;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%,0);
    left: 50%;
    box-shadow: 0 2px 17px rgba(0, 0, 0, 0.1), 0 6px 24px rgba(0, 0, 0, 0.1);
    width: 80%;
}
